:root {
    --primary: #655dff;
    --primary-light: #8e8aff;
    --primary-dark: #4f46f8;
  
    --alert: #ff0000;
    --success: #04a807;
    --secondary: #17c9ff;
  
    --greyLight-0: #dcdcdc;
    --greyLight-1: #e0ecf7;
    --greyLight-2: #c8dbf0;
  
    --greyDark-1: #92acc4;
    --greyDark-2: #5a768f;
  }
  
  html {
    font-size: 80%;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #444;
    background: linear-gradient(to right, #d8b5ff, #1eae98);
  }

  .container {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding: 3.2rem 4.8rem;
  
    width: 85rem;
    height: 50rem;
  
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  }
  
  .card {
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 9fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
    height: calc(40rem - 2 * 9rem);
    width: calc(4 / 7 * 85rem - 2 * 5rem);
    border-radius: 20px;
    background: linear-gradient(
      130deg,
      var(--secondary) 0%,
      var(--primary) 50%
    );
    z-index: 200;
    font-family: 'Dosis';
    padding: 1rem 1.6rem;
  }
  
  .card-avatar {
    grid-row: 1/4;
    grid-column: 1/2;
    width: 90px;
    justify-self: start;
    align-self: center;
  }
  
  .card-name {
    min-width: 300px;
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: start;
    align-self: center;
  }
  
  .card-dob {
    grid-row: 2/3;
    grid-column: 3/4;
    justify-self: start;
    align-self: center;
  }
  
  .card-phone {
    grid-row: 3/4;
    grid-column: 3/4;
    justify-self: start;
    align-self: center;
  }
  
  .card-email {
    grid-row: 4/5;
    grid-column: 3/4;
    justify-self: start;
    align-self: center;
  }
  
  .card-address {
    grid-row: 5/6;
    grid-column: 3/4;
    justify-self: start;
    align-self: center;
  }

  .card-sex {
    grid-row: 4/5;
    grid-column: 1/2;
    min-width: 100%;
    justify-self: start;
    align-self: center;
  }
  
  .card-class {  
    grid-row: 5/6;
    grid-column: 1/2;
    color: #fff;
    font-size: 16px;
    justify-self: start;
    align-self: center;
  }

  .card-label {
    text-transform: uppercase;
    font-size: 0.97rem;
    font-weight: 300;
    font-family: 'Cabin';
    color: #f2ff02;
    letter-spacing: 0px;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
  }
  
  .card-info {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .form {
    padding: 1rem;
    padding-left: 2.4rem;
  }
  
  h2 {
    margin-bottom: 1.6rem;
    font-size: 2.4rem;
    font-weight: 800;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .card-avatar{
    height: -150vh;
  }

  .form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 16.5px;
  }

  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .form-inline1 {
    display: flex;
    justify-content: space-between;
  }
  
  .form-half11 {
    width: 86%;
  }

  .form-half12 {
    width: 12%;
  }

  .form-inline2 {
    display: flex;
    justify-content: space-between;
  }

  .form-half21 {
    width: 36%;
  }

  .form-half22 {
    width: 62%;
  }

  .form-inline3 {
    display: flex;
    justify-content: space-between;
  }

  .form-half31 {
    width: 44%;
  }

  .form-half32 {
    width: 54%;
  }

  .form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    letter-spacing: 0.5px;
  }
  
  .form input, select {
    display: block;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--greyLight-2);
    color: inherit;
    width: 100%;
    padding: 6px 0 6px 7px;
    font-size: 16px;
    font-family: 'Quicksand';
    font-weight: 500;
  }

  select{
    height: 60%;
  }
  
  input:focus, select:focus {
    outline: none;
    border-color: #40d201;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  input::placeholder {
    color: var(--greyDark-1);
    font-size: 1.4rem;
  }
  
  .submit {
    background-color: var(--primary-dark);
    border: none;
    padding: 1.2rem 2.4rem;
    width: 100%;
    color: #fff;
    border-radius: 6px;
    margin-top: 1.6rem;
    font-family: 'Quicksand';
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: var(--primary);
    transform: scale(1.02);
    display: inline;
    box-shadow: 0 7px 30px rgba(67, 68, 150, 0.5);
    transition: all 0.1s;
    justify-content: center;
  }

  .notification {
    position: fixed;
    bottom: 1%;
    left: 3%;
    width: 20%;
    max-width: 300px;
    background-color: #f8f9fa;
    border: 0px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    color: #fff;
}

  .notification.hidden {
    display: none;
  }

  .progress-bar {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    background-color: #ffffff;
    width: 100%;
    animation: progress 2s linear forwards;
  }

  @keyframes progress {
      from {
          width: 100%;
      }
      to {
          width: 0;
      }
  }

  .form-half12 label{
    display: inline-block;
    background-color: var(--primary-dark);
    color: #fff;
    width: 100%;
    height: 33.5px;
    line-height: 33.5px;
    border-radius: 6px;
    margin-top: 1.9rem;
    font-size: 15px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
  }
  
  /* Hiệu ứng hover cho nút tải tệp lên */
  .form-half12 label:hover {
    transform: scale(1.02);
    box-shadow: 0 7px 30px rgba(67, 68, 150, 0.5);
    transition: all 0.1s;
    display: inline-block;
  }

  #card-name::placeholder,
  #card-class::placeholder,
  #card-phone::placeholder,
  #card-email::placeholder,
  #card-address::placeholder{
    font-size: 15.5px;
  }

  #display-card-avatar {
    width: 100px; 
    height: 140px;
    overflow: hidden;
    position: relative;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(45deg, #ffeb94 0%, #ffae52 100%);
  }

  #display-card-avatar img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
  }